*{
	margin: 0px;
}

body{
	background-color:rgb(0,162,232);
	font-family: 'Arial Black';
}

/*Soll der eigentliche Inhalt sein*/
#wrapper{
	width: 80%;
	margin: 0px auto;
	padding-bottom: 25%;
	background: -webkit-linear-gradient(left, rgb(153,217,234) 0px,rgb(153,217,234) 1000px); /* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(left, rgb(153,217,234) 0px,rgb(153,217,234) 1000px); /* FF3.6+ */
}

/*Soll Kontrolle um das Bild ermöglichen*/
.image{
	padding: 10px;
}

/*Referenziert auf alle Tabellenzeilen*/
tr{
	text-align: center;
	width: 50%;
}

/*Dient der überschrift */
#headline{
	font-size: 22px;
	padding: 25px;
}

/* Es dient der DivBox in home.html für die mitte*/
#layoutHome{
	position:relative;
	align: center;
}

/*Ist für das Menü zuständig*/
#menu{
	background-color: rgb(0,162,232);	
	width:240px;
	border: 4px rgb(63,72,204) solid;
}

/* Es färbt die einzelne zeichen in der überschrift in homt.html ein */
.colorFont1{
	color: rgb(136,0,21);
}

a:link, a:visited {
    display: block;
    font-weight: bold;
	font-size: 18px;
    color: rgb(0,0,0);
    background-color: rgb(0,162,232);
    width: 240px-8px;
	height:30px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}
a:hover {
    background-color: rgb(63,72,204);
}

